@import 'src/mixin-variables';

.films__list {
  @include reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 36px;

  &--load {
    display: block;
    height: 100vh;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
